@charset "UTF-8";
/*  */
.wrapper {
  width: 100%;
  background: #cff1ff;
}
.inner {
  margin: 0 auto;
  width: 600px;
}
.page__title {
  padding-top: 60px;
  font-size: 28px;
  text-align: center;
}
.form__wrap {
  padding: 50px;
  background: #ecfaff;
  margin-top: 60px;
}
.form__title {
  font-size: 24px;
  text-align: center;
}
.content__title {
  font-size: 18px;
  color: #000000;
}
.label__section {
  margin-top: 25px;
}
.label__text {
  font-size: 14px;
  color: #464646;
}
.personal__content, .account__content, .contact__content, .subscription__content, .submit__content{
  margin-top: 50px;
}
.required {
  color: #e40000;
}